.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.links line.selected {
  stroke: #338dc9;
  stroke-width: 2px;
}

.nodes circle {
  fill: #555555;
  stroke: #aaa;
  stroke-width: 1.5px;
}

.nodes circle.selected {
  fill: #00558d;
  stroke: #338dc9;
}
