body,
html,
#app {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.navbar-brand {
  img {
    height: 32px;
    margin-top: -7px;
  }
}

.navbar-dark {
  background-color: $body-bg - 3%;
}

.footer {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  padding-left: 0.75rem;
}
